name: Build and Push Docker Image

# Ye tab chalega jab tum manually button dabaoge
on:
  workflow_dispatch:
    inputs:
      version_tag:
        description: 'Image Version Tag (e.g., v1, v2, latest)'
        required: true
        default: 'latest'

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    steps:
      # 1. GitHub ka code utha ke lao
      - name: Checkout Code
        uses: actions/checkout@v4

      # 2. Docker Hub me Login karo (Secrets use karke)
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 3. Docker Buildx setup karo (Fast building ke liye)
      - name: Set up Docker Buildx # Ye step Docker Buildx ko setup karta hai, jo ki ek advanced builder hai aur multi-platform builds ko support karta hai. Isse hum apne Docker images ko efficiently build kar sakte hain, especially jab humare paas complex Dockerfiles hote hain ya hume multiple architectures ke liye images banani hoti hain.
        uses: docker/setup-buildx-action@v3

      # 4. Image Build karo aur Push karo
      # 4. Image Build karo aur Push karo
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./my-color-app        # <--- CHANGE 1: Folder ka naam batao
          file: ./my-color-app/Dockerfile # <--- CHANGE 2: File ka pura rasta batao
          push: true
          # Niche format: username/image-name:tag
          tags: ${{ secrets.DOCKER_USERNAME }}/k8s-sample-app:${{ inputs.version_tag }}